# general
ENV=dev
LEVEL=debug
GATEWAY_HOST=http://localhost:3000
FRONTEND_URL=http://localhost:5432

# gateway
IDEAS_SERVICE_HOST=ideas:3000
CONSUMER_SERVICE_HOST=consumer:3000
USERS_SERVICE_HOST=users:3000
REVIEWS_SERVICE_HOST=reviews:3000

# services
IDEAS_DATABASE_URL=mongodb://ideas-event-store:27017
IDEAS_DATABASE_URL=mongodb://reviews-event-store:27017
PROJECTION_DATABASE_URL=mongodb://projection-database:27017
USERS_DATABASE_URL=mongodb://users-event-store:27017

# kafka
KAFKA_ADVERTISED_HOST_NAME=kafka
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_ADVERTISED_PORT=9092
KAFKA_BROKER_HOST=kafka:9092

# secrets
SEND_GRID_API_KEY=key
REFRESH_TOKEN_SECRET=#J9t4w@+fN%wWX:#ofqFPOh+~6n85d6p0Q3[#k'G:UBxxViS-e;5SBk#E>2L,E[
ACCESS_TOKEN_SECRET=yt;z<nhCjwP)6{Jdj-{#vf'5,hOh?<AEs2"WhGUv~<(13l,AY|.KJn$x=1"UHZ<
LOGIN_TOKEN_SECRET=HKG^c@9BnbpbG"qd*`9d=8xER0b$EPcj%aIx=_)#[gIx'}T<-irUdS8EAwzQ({I
CHANGE_EMAIL_TOKEN_SECRET=_ekK<'VQOTgYSWR(Zl4TdbTDTQ}(.s#/xBG}~`#p7&Ku7B*H;B=+M3H{6NK'd^|