# general
ENV=dev
LEVEL=debug
# TODO rename to GATEWAY_HOST
API_URL=http://localhost:3000
GATEWAY_HOST=http://localhost:3000
FRONTEND_URL=http://localhost:5432

# gateway
IDEAS_SERVICE_HOST=ideas:3000
CONSUMER_SERVICE_HOST=consumer:3000
USERS_SERVICE_HOST=users:3000
REVIEWS_SERVICE_HOST=reviews:3000

# services
IDEAS_DATABASE_URL=mongodb://ideas-event-store:27017
IDEAS_DATABASE_URL=mongodb://reviews-event-store:27017
PROJECTION_DATABASE_URL=mongodb://projection-database:27017
USERS_DATABASE_URL=mongodb://users-event-store:27017

# kafka
KAFKA_ADVERTISED_HOST_NAME=kafka
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_ADVERTISED_PORT=9092
KAFKA_BROKER_HOST=kafka:9092

# secrets
SEND_GRID_API_KEY=key
JWT_SECRET=change-this-secret-in-prod