.env*

packages/kubernetes/config.yaml
packages/kubernetes/secret.yaml
services/client/environment/environment.ts
services/admin-client/environment/environment.ts

.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

node_modules
bazel-*
dist
coverage

__ngcc_entry_points__.json