npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log
.DS_Store
lib
dist
node_modules
.env.dev
.env.prod
.env.test
globalConfigMongo.json
secrets.yml
coverage
tsconfig.tsbuildinfo
bazel-bin
bazel-cents-ideas
bazel-out
bazel-testlogs
secrets/*