node_modules
bazel-*
dist
WORKSPACE
*.bazel
*.png
yarn.lock
*.Dockerfile
.prettierignore
.editorconfig
.gitignore
favicon.ico
.gitkeep
LICENSE
*.bzl
.bazelversion
.env
browserslist
.env.example
.bazelrc
.bazelignore