body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  --color: #fff06c;
  --color-dark: #fddf43;
  --secondary: #75bdf8;
  --secondary-dark: #0e4c9a;
  --light-grey: #fafafa;
  --grey: lightgrey;
  --border-radius: 2px;
}

h1,
h2,
h3 {
  font-family: 'Inria Serif', serif;
}

input {
  padding: 6px 10px;
  border: 2px solid var(--grey);
  margin-bottom: 10px;
  max-width: 300px;
  width: 100%;
}

label {
  font-size: 0.8em;
}

button {
  padding: 6px 10px;
  background: var(--color);
  color: var(--secondary-dark);
  outline: none;
  border: 2px solid var(--color-dark);
  font-weight: bold;
  border-radius: var(--border-radius);
  margin: 10px 0;
}
button:hover {
  background: var(--color-dark);
}
