<h1>{{ title }}</h1>
<h2>
    ⚙ Control 🔓 Entry 🙏 Need ⏳ Time 🌍 Scale
</h2>

<h2>Create Idea</h2>
<form
    [formGroup]="form"
    (submit)='onCreate()'
>
    <label>
        Title:
        <input
            type="text"
            formControlName="title"
        >
    </label>
    <br>
    <label>
        Description:
        <input
            type="text"
            formControlName="description"
        >
    </label>
    <button type='submit'>Create</button>
</form>
<h2>Ideas</h2>
<ng-container *ngIf='ideas$ | async as ideas'>
    <p>
        Found
        <strong>{{ ideas.length }}</strong>
        {{ ideas.length === 1 ? 'idea' : 'ideas' }}
    </p>
    <pre *ngFor='let idea of ideas'>{{ idea | json }}</pre>
</ng-container>
<ng-container *ngIf='!(ideas$ | async)'>
    <p>Couldn't find any ideas</p>
</ng-container>
